In [1]:
import numpy as np  #importing numpy library to perform mathematical and logical operations

In [2]:
import pandas as pd  #importing pandas which is high-level data manipulation tool

In [3]:
data = pd.read_csv('allUsersFinal.csv') #reading csv file

In [4]:
data.head() #Analysing the data in tabular form, first five entries generated

,userName,major,researchExp,industryExp,specialization,toeflScore,program,department,toeflEssay,internExp,...,termAndYear,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,143saf,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,26,5.0,...,Fall - 2015,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,7790ashish,Manufacturing Engineering,0,0,NaN,NaN,MS,0,NaN,0.0,...,Fall - 2013,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,AB25,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,21,0.0,...,Fall - 2015,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,abhijitg,NaN,0,0,NaN,NaN,NaN,0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,abhijitgang,MIS,0,0,NaN,81.0,MS,computer,NaN,0.0,...,Fall - 2011,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1

In [5]:
data.shape #determining number of rows and columns

(53644, 26)

In [6]:
for col in data.columns:  #total attributes
    print(col)

userName
major
researchExp
industryExp
specialization
toeflScore
program
department
toeflEssay
internExp
greV
greQ
userProfileLink
journalPubs
greA
topperCgpa
termAndYear
confPubs
ugCollege
gmatA
cgpa
gmatQ
cgpaScale
gmatV
univName
admit

In [7]:
#assigning original data into another dataframe named 'x_train'
x_train = data

In [8]:
# x_train is the data on which we'll train our model,by later on splitting it.
x_train.shape #checking the number of rows and columns

(53644, 26)

In [10]:
x_train.head()  #Analysing the first five entries again

,userName,major,researchExp,industryExp,specialization,toeflScore,program,department,toeflEssay,internExp,...,termAndYear,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,143saf,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,26,5.0,...,Fall - 2015,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,7790ashish,Manufacturing Engineering,0,0,NaN,NaN,MS,0,NaN,0.0,...,Fall - 2013,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,AB25,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,21,0.0,...,Fall - 2015,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,abhijitg,NaN,0,0,NaN,NaN,NaN,0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,abhijitgang,MIS,0,0,NaN,81.0,MS,computer,NaN,0.0,...,Fall - 2011,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1

In [11]:
x_train = x_train.drop('termAndYear',1,inplace = False) #termAndYear attribute is of no use here,hence drop.
x_train.shape

(53644, 25)

In [12]:
x_train = x_train.drop('userName',1,inplace = False)  #userName is dropped

In [13]:
x_train.shape #checking number of columns after dropping

(53644, 24)

In [14]:
x_train.head() #Analysing the data again

,major,researchExp,industryExp,specialization,toeflScore,program,department,toeflEssay,internExp,greV,...,topperCgpa,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,26,5.0,160.0,...,8.9,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,Manufacturing Engineering,0,0,NaN,NaN,MS,0,NaN,0.0,NaN,...,0.0,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,21,0.0,146.0,...,81.0,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,NaN,0,0,NaN,NaN,NaN,0,NaN,0.0,NaN,...,0.0,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,MIS,0,0,NaN,81.0,MS,computer,NaN,0.0,420.0,...,70.0,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1

In [15]:
x_train = x_train.drop('toeflEssay',1,inplace = False)  #toeflScore is already given so drop toeflEssay.

In [16]:
x_train.shape #checking number of columns again

(53644, 23)

In [17]:
x_train.head() #Analysing the first five columns again

,major,researchExp,industryExp,specialization,toeflScore,program,department,internExp,greV,greQ,...,topperCgpa,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,...,8.9,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,Manufacturing Engineering,0,0,NaN,NaN,MS,0,0.0,NaN,NaN,...,0.0,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,0.0,146.0,157.0,...,81.0,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,NaN,0,0,NaN,NaN,NaN,0,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,MIS,0,0,NaN,81.0,MS,computer,0.0,420.0,770.0,...,70.0,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1

In [18]:
x_train = x_train.drop('userProfileLink',1,inplace = False) # userProfileLink is dropped.

In [19]:
x_train.head() #Analysing the data in the table format

,major,researchExp,industryExp,specialization,toeflScore,program,department,internExp,greV,greQ,...,topperCgpa,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,...,8.9,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,Manufacturing Engineering,0,0,NaN,NaN,MS,0,0.0,NaN,NaN,...,0.0,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,0.0,146.0,157.0,...,81.0,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,NaN,0,0,NaN,NaN,NaN,0,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,MIS,0,0,NaN,81.0,MS,computer,0.0,420.0,770.0,...,70.0,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1

In [20]:
x_train.shape # checking the number of columns again.

(53644, 22)

In [21]:
for m in x_train.columns:  #checking total attributes till now
    print(m)

major
researchExp
industryExp
specialization
toeflScore
program
department
internExp
greV
greQ
journalPubs
greA
topperCgpa
confPubs
ugCollege
gmatA
cgpa
gmatQ
cgpaScale
gmatV
univName
admit

In [22]:
x_train.dropna(subset=['greV'],inplace = True) #dropping NaN values in the 'greV' column

In [23]:
x_train['greV'].isna().sum() #checking for total number of NaN values in greV

0

In [24]:
x_train.dropna(subset=['greA'],inplace = True)#dropping NaN values in the 'greA' column
x_train.dropna(subset=['greQ'],inplace = True)#dropping NaN values in the 'greQ' column

In [25]:
x_train['greA'].isna().sum()#checking for total number of NaN values in greA

0

In [26]:
x_train['greQ'].isna().sum()#checking for total number of NaN values in greQ

0

In [27]:
x_train.shape #checking number of rows and columns till now

(50705, 22)

In [28]:
x_train.head() #Analysing the first five entries again

,major,researchExp,industryExp,specialization,toeflScore,program,department,internExp,greV,greQ,...,topperCgpa,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,...,8.90,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,0.0,146.0,157.0,...,81.00,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
4,MIS,0,0,NaN,81.0,MS,computer,0.0,420.0,770.0,...,70.00,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1
5,MIS,0,0,Information Security Management,273.0,MS,CE,0.0,410.0,1010.0,...,75.00,0,Thadomal Shahani Engineering College,NaN,52.00,NaN,100,NaN,Worcester Polytechnic Institute,1
6,MIS,0,0,Business Analytics,104.0,MS,Computer Engineering,0.0,150.0,161.0,...,77.81,0,University of Mumbai,NaN,62.20,NaN,100,NaN,Worcester Polytechnic Institute,1

In [29]:
x_train['program'].unique()  #finding out the unique values in the 'program' column

array(['MS', 'PhD', 'Both MS and PhD', 'MS/PhD'], dtype=object)

In [30]:
x_train = x_train.drop('gmatA',1,inplace = False)  #no MBA candidates hence drop

In [31]:
x_train = x_train.drop('gmatQ',1,inplace = False) #no MBA candidates hence drop

In [32]:
x_train = x_train.drop('gmatV',1,inplace = False) #no MBA candidates hence drop

In [33]:
x_train.shape #checking total number of rows and columns left

(50705, 19)

In [34]:
x_train.head() #Analysing the first five entries again

,major,researchExp,industryExp,specialization,toeflScore,program,department,internExp,greV,greQ,journalPubs,greA,topperCgpa,confPubs,ugCollege,cgpa,cgpaScale,univName,admit
0,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,0,4.5,8.90,0,Dharamsinh Desai University,8.50,10,Worcester Polytechnic Institute,1
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,0.0,146.0,157.0,0,3.0,81.00,0,IET DAVV,78.28,100,Worcester Polytechnic Institute,1
4,MIS,0,0,NaN,81.0,MS,computer,0.0,420.0,770.0,0,2.5,70.00,0,Pune University,57.00,100,Worcester Polytechnic Institute,1
5,MIS,0,0,Information Security Management,273.0,MS,CE,0.0,410.0,1010.0,0,600.0,75.00,0,Thadomal Shahani Engineering College,52.00,100,Worcester Polytechnic Institute,1
6,MIS,0,0,Business Analytics,104.0,MS,Computer Engineering,0.0,150.0,161.0,0,4.5,77.81,0,University of Mumbai,62.20,100,Worcester Polytechnic Institute,1

In [35]:
x_train['cgpa'].isna().sum() #checking for NaN values in 'cgpa' column

0

In [36]:
x_train['toeflScore'].isna().sum() #checking for NaN values in 'toeflScore' column

3007

In [37]:
#toefl depends on college to college and is only taken when a non-english speaking student wants to take admission abroad.
#hence we can drop this.
x_train = x_train.drop('toeflScore',1,inplace = False)

In [38]:
x_train.shape #checking the number of columns

(50705, 18)

In [39]:
x_train['internExp'].isna().sum() #checking for NaN values in 'internExp' column

14

In [40]:
def impute_internExp():  #replacing NaN values with 0 because NaN means student has no intern Experience.
    global x_train
    x_train['internExp'].fillna(0,inplace=True)

In [41]:
impute_internExp()  #calling the function

In [42]:
x_train['internExp'].isna().sum() #NaN values turned to 0 i.e, "no intern Experience", checking NaN values in 'internExp'

0

In [43]:
x_train['topperCgpa'].isna().sum() #checking for NaN values in 'topperCgpa' column

3

In [44]:
x_train['cgpaScale'].unique() #checking for unique values in 'cgpaScale' column

array([ 10, 100,   0,   4,   5], dtype=int64)

In [45]:
def compute_cgpa(): # scaling cgpa to 10 with its respective cgpaScale since different cgpa's has different scales.
    global x_train
    for i in range(0,len(x_train['cgpa'])):
        if(x_train['cgpaScale'].iloc[i]==0):
            x_train['cgpa'].iloc[i]=0
        else:
            x_train['cgpa'].iloc[i] = (x_train['cgpa'].iloc[i]/x_train['cgpaScale'].iloc[i])*10

In [46]:
compute_cgpa() #calling the function

F:\New folder (2)\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [48]:
# computing the avg value of 'cgpa' column
def impute_cgpa():
    global x_train
    avg = x_train['cgpa'].sum()/len(x_train)
    print(avg)
impute_cgpa()

7.476605415245045

In [49]:
def compute_topperCgpa():  #scaling the topperCgpa to 10 with its respective cgpaScale
    global x_train
    for i in range(0,len(x_train['topperCgpa'])):
        if(np.isnan(x_train['topperCgpa'].iloc[i])):
            continue
        elif(x_train['cgpaScale'].iloc[i]==0):
            x_train['topperCgpa'].iloc[i]=0
        else:
            x_train['topperCgpa'].iloc[i] = (x_train['topperCgpa'].iloc[i]/x_train['cgpaScale'].iloc[i])*10

In [50]:
compute_topperCgpa() #calling the function

In [52]:
# filling the average value in place of NaN
def impute_topperCgpa():
    global x_train
    avg = x_train['topperCgpa'].sum()/len(x_train)
    x_train['topperCgpa'].fillna(avg,inplace=True)
impute_topperCgpa()

In [53]:
x_train['topperCgpa'].isna().sum() #no NaN values left in 'topperCgpa' column

0

In [54]:
x_train = x_train.drop('cgpaScale',1,inplace = False) #no futher use of cgpa scale, hence we drop it

In [55]:
x_train.shape  #checking the number of rows and columns

(50705, 17)

In [56]:
def compute_journalPubs(): #removing NaN values from 'journalPubs' column and converting strings to numbers.
    global x_train
    for k in range(0,len(x_train['journalPubs'])):
        if(pd.isna(x_train['journalPubs'].iloc[k])):
             x_train['journalPubs'].iloc[k] = 0
        elif(type(x_train['journalPubs'].iloc[k])==str):
            if('http'in x_train['journalPubs'].iloc[k]): #some entries had URLs, so had to count the number of URLs & add them
                x_train['journalPubs'].iloc[k] = len(x_train['journalPubs'].iloc[k].split(',')) #accordingly
            else:
                x_train['journalPubs'].iloc[k] = int(x_train['journalPubs'].iloc[k])

In [57]:
compute_journalPubs() #calling the function

In [58]:
x_train['journalPubs'].unique() #checking unique values in 'journalPubs' column

array([0, 2, 7, 1, 3, 4, 5, 12, 6], dtype=object)

In [59]:
x_train['journalPubs'].isna().sum() #no NaN values in 'journalPubs' column

0

In [60]:
x_train['confPubs'].unique() #checking unique values in 'confPubs' column

array(['0', '2', '3', '1', '4', '5', 'Fall - 2015', '8', '6',
       'Fall - 2012', 'Fall - 2014', '15'], dtype=object)

In [61]:
x_train['confPubs'].isna().sum() #no NaN values in 'confPubs' column

0

In [62]:
def compute_confPubs(): #converting strings to numbers.
    global x_train
    for k in range(0,len(x_train['confPubs'])):
        if(pd.isna(x_train['confPubs'].iloc[k])): #we don't have any NaN value yet, but we have applied this function for future entries.
             x_train['confPubs'].iloc[k] = 0  #for now it would work fine, even if we remove this 'if(pd.isna())' condition
        elif(type(x_train['confPubs'].iloc[k])==str):
            if('Fall'in x_train['confPubs'].iloc[k]):
                x_train['confPubs'].iloc[k] = len(x_train['confPubs'].iloc[k].split(','))# some entries had values like 'Fall-2015', hence applied split function to split and add them up.
            else:
                x_train['confPubs'].iloc[k] = int(x_train['confPubs'].iloc[k])

In [63]:
compute_confPubs()  #calling the function

In [64]:
x_train['confPubs'].unique() #checking if there are any string values left in 'confPubs' column

array([0, 2, 3, 1, 4, 5, 8, 6, 15], dtype=object)

In [65]:
x_train.head()  #Analysing the first five entries

,major,researchExp,industryExp,specialization,program,department,internExp,greV,greQ,journalPubs,greA,topperCgpa,confPubs,ugCollege,cgpa,univName,admit
0,Systems and Control,0,18,Robotics,MS,Instrumentation & Control,5.0,160.0,167.0,0,4.5,8.900,0,Dharamsinh Desai University,8.500,Worcester Polytechnic Institute,1
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,MS,Computer Engineering,0.0,146.0,157.0,0,3.0,8.100,0,IET DAVV,7.828,Worcester Polytechnic Institute,1
4,MIS,0,0,NaN,MS,computer,0.0,420.0,770.0,0,2.5,7.000,0,Pune University,5.700,Worcester Polytechnic Institute,1
5,MIS,0,0,Information Security Management,MS,CE,0.0,410.0,1010.0,0,600.0,7.500,0,Thadomal Shahani Engineering College,5.200,Worcester Polytechnic Institute,1
6,MIS,0,0,Business Analytics,MS,Computer Engineering,0.0,150.0,161.0,0,4.5,7.781,0,University of Mumbai,6.220,Worcester Polytechnic Institute,1

In [66]:
x_train.shape #checking the number of rows and columns

(50705, 17)

In [67]:
x_train['department'].isna().sum()  #checking NaN values in 'department' column

1

In [68]:
#generating lists for diving a single column of 'department' into various columns (manually,without using get_dummies)
cse = []
ece = []
others = []
mech = []
it = []
nonstring = []
nan = []
biotech = []
aerospace = []
finance = []
zero = []
civil = []
eee = []
def appending(tos):  #this function is taking a list as an input. Initially values for all the rows were zero.
    cse.append(0)
    mech.append(0)
    ece.append(0)
    it.append(0)
    others.append(0)
    nonstring.append(0)
    nan.append(0)
    biotech.append(0)
    aerospace.append(0)
    finance.append(0)
    zero.append(0)
    civil.append(0)
    eee.append(0)
    tos.pop()  #popping out the given list values and appending 1 instead of 0 in the rows which satify the below condition.
    tos.append(1)

def process_department():  #dividing the data on the basis of "keywords"
    global x_train
    for i in range(0, len(x_train['department'])):
        if(type(x_train['department'].iloc[i]) == str):
            if('comp' in x_train['department'].iloc[i].lower() or 'cs' in x_train['department'].iloc[i].lower()):
                appending(cse)
                
            elif('mech' in x_train['department'].iloc[i].lower() or 'auto' in x_train['department'].iloc[i].lower()):
                appending(mech)
                
            elif('eee' in x_train['department'].iloc[i].lower() or 'electric' in x_train['department'].iloc[i].lower()):
                appending(eee)
                
            elif('0' in x_train['department'].iloc[i]):
                appending(zero)
                
            elif('civil' in x_train['department'].iloc[i].lower()):
                appending(civil)
                
            elif('aero' in x_train['department'].iloc[i].lower()):
                appending(aerospace)
                
            elif('bio' in x_train['department'].iloc[i].lower() or 'chem' in x_train['department'].iloc[i].lower()):
                appending(biotech)
                
            elif('business' in x_train['department'].iloc[i].lower() or 'finance' in x_train['department'].iloc[i].lower()):
                appending(finance)
                
            elif('electronic' in x_train['department'].iloc[i].lower() or'comm' in x_train['department'].iloc[i].lower() or 'ece' in x_train['department'].iloc[i].lower()):
                appending(ece)
                
            elif('i.t' in x_train['department'].iloc[i].lower() or 'it' in x_train['department'].iloc[i].lower() or 'information' in x_train['department'].iloc[i].lower()):
                appending(it)
                
            else:
                appending(others)
                
        elif(type(x_train['department']) == 'nan'):
            appending(nan)
        else:
            appending(nonstring)
    x_train['cse'] = cse  #converting lists into columns
    x_train['ece'] = ece
    x_train['others'] = others
    x_train['mech'] = mech
    x_train['it'] = it
    x_train['nonstring'] = nonstring
    x_train['nan'] = nan
    x_train['biotech'] = biotech
    x_train['aerospace'] = aerospace
    x_train['finance'] = finance
    x_train['zero'] = zero
    x_train['civil'] = civil
    x_train['eee'] = eee

In [69]:
process_department()  #calling the function

In [70]:
x_train.shape  # checking number of rows and columns after spliting 'department' column
# NOTE: We haven't dropped the 'department' column yet!

(50705, 30)

In [71]:
x_train.head() #Analysing the data in tabular form again

,major,researchExp,industryExp,specialization,program,department,internExp,greV,greQ,journalPubs,...,mech,it,nonstring,nan,biotech,aerospace,finance,zero,civil,eee
0,Systems and Control,0,18,Robotics,MS,Instrumentation & Control,5.0,160.0,167.0,0,...,0,0,0,0,0,0,0,0,0,0
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,MS,Computer Engineering,0.0,146.0,157.0,0,...,0,0,0,0,0,0,0,0,0,0
4,MIS,0,0,NaN,MS,computer,0.0,420.0,770.0,0,...,0,0,0,0,0,0,0,0,0,0
5,MIS,0,0,Information Security Management,MS,CE,0.0,410.0,1010.0,0,...,0,0,0,0,0,0,0,0,0,0
6,MIS,0,0,Business Analytics,MS,Computer Engineering,0.0,150.0,161.0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
x_train = x_train.drop('department',1,inplace=False) #dropping 'department' column

In [73]:
x_train.head() #Analysing the data again. NOTE: 'department' column dropped!

,major,researchExp,industryExp,specialization,program,internExp,greV,greQ,journalPubs,greA,...,mech,it,nonstring,nan,biotech,aerospace,finance,zero,civil,eee
0,Systems and Control,0,18,Robotics,MS,5.0,160.0,167.0,0,4.5,...,0,0,0,0,0,0,0,0,0,0
2,(MIS / MSIM / MSIS / MSIT),0,66,NaN,MS,0.0,146.0,157.0,0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,MIS,0,0,NaN,MS,0.0,420.0,770.0,0,2.5,...,0,0,0,0,0,0,0,0,0,0
5,MIS,0,0,Information Security Management,MS,0.0,410.0,1010.0,0,600.0,...,0,0,0,0,0,0,0,0,0,0
6,MIS,0,0,Business Analytics,MS,0.0,150.0,161.0,0,4.5,...,0,0,0,0,0,0,0,0,0,0

In [74]:
x_train['major'].isna().sum() #checking for NaN values in 'major' column

57

In [75]:
x_train['specialization'].isna().sum() #checking for NaN values in 'specialization' column

19864

In [76]:
x_train['program'].isna().sum() #checking for NaN values in 'program' column

0

In [77]:
x_train['ugCollege'].isna().sum() #checking for NaN values in 'ugCollege' column

1529

In [78]:
x_train['univName'].isna().sum() #checking for NaN values in 'univName' column

0

In [79]:
# here we are filling the NaN values of 'major' column with the string 'major: not specified'
# We have done the same with the other two columns namely 'specialization' & 'ugCollege' but with a string different from 'major'
# we did this because if we haven't done this,then the 'not specified' string would become common in all the three columns and
#hence there were chances of duplicated data.
x_train['major'].fillna('major:not specified',inplace=True)

In [80]:
x_train['ugCollege'].fillna('ugCollege:not specified',inplace=True) #replacing NaN values with string 'ugCollege:not specified'

In [81]:
x_train['specialization'].fillna('specialization:not specified',inplace=True) #replacing NaN values with string 'specialization :not specified'

In [82]:
x_train['specialization'].str.isdigit().sum() #checking for digits i.e. numerical data in 'specialization' column.
#NOTE: We also did this for other columns with categorical data to check if someone has enterd a number rather than a string

0

In [83]:
x_train.shape #checking number of rows and columns

(50705, 29)

In [84]:
def feature_scaling(df): #function defined to do the feature scaling in the numeric data to make their values near to 0 or 1
    df -= df.min()
    df /= df.max()
    return df

In [85]:
x_train['researchExp'] = feature_scaling(x_train['researchExp'])

In [86]:
x_train['industryExp'] = feature_scaling(x_train['industryExp'])

In [87]:
x_train['greV'] = feature_scaling(x_train['greV'])

In [88]:
x_train['greA'] = feature_scaling(x_train['greA'])

In [89]:
x_train['greQ'] = feature_scaling(x_train['greQ'])

In [90]:
x_train['internExp'] = feature_scaling(x_train['internExp'])

In [91]:
x_train['cgpa'] = feature_scaling(x_train['cgpa'])

In [92]:
x_train['topperCgpa'] = feature_scaling(x_train['topperCgpa'])

In [93]:
x_train['journalPubs'] = feature_scaling(x_train['journalPubs'])

In [94]:
x_train['confPubs'] = feature_scaling(x_train['confPubs'])

In [95]:
x_train.shape #checking for number of rows and columns after feature scaling

(50705, 29)

In [96]:
x_train = pd.get_dummies(x_train)  #using get_dummies to split the left categorical data columns into seperate columns.
#NOTE: get_dummies doesn't split float values only. Hence we did the feature scaling before implementing get_dummies.

In [97]:
x_train.shape #checking the number of columns

(50705, 5499)

In [99]:
x_train.head() #Analysing the data in tabular form

,researchExp,industryExp,internExp,greV,greQ,greA,topperCgpa,cgpa,admit,cse,...,univName_University of Southern California,univName_University of Texas Arlington,univName_University of Texas Austin,univName_University of Texas Dallas,univName_University of Utah,univName_University of Washington,univName_University of Wisconsin Madison,univName_Virginia Polytechnic Institute and State University,univName_Wayne State University,univName_Worcester Polytechnic Institute
0,0.0,0.130435,0.052083,0.028777,0.020901,0.003061,0.041882,0.046575,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,0.478261,0.000000,0.026259,0.019650,0.002041,0.038118,0.042893,1,1,...,0,0,0,0,0,0,0,0,0,1
4,0.0,0.000000,0.000000,0.075540,0.096370,0.001701,0.032941,0.031233,1,1,...,0,0,0,0,0,0,0,0,0,1
5,0.0,0.000000,0.000000,0.073741,0.126408,0.408163,0.035294,0.028493,1,0,...,0,0,0,0,0,0,0,0,0,1
6,0.0,0.000000,0.000000,0.026978,0.020150,0.003061,0.036616,0.034082,1,1,...,0,0,0,0,0,0,0,0,0,1

In [114]:
#dividing the data into training and testing data in the ratio of 80:20.
train = x_train.head(40564)
test  = x_train.iloc[40564:]

In [115]:
train.shape

(40564, 5499)

In [116]:
test.shape

(10141, 5499)

In [117]:
#importing libraries required for model building
from sklearn.model_selection import cross_val_score 
from sklearn.ensemble import RandomForestClassifier  #using Decision Trees concept as RandomForestClassifier algorithm.

In [118]:
def compute_score(clf, X, y, scoring='accuracy'): #function defined to compute the accuracy of our model.
    xval = cross_val_score(clf, X, y, cv = 5, scoring=scoring)
    return np.mean(xval)

In [119]:
y_train = train['admit'] #target data set in y_train

In [120]:
train.drop('admit',1,inplace= True) #dropping the target data from training data

F:\New folder (2)\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
train.shape #checking number of rows and columns

(40564, 5498)

In [122]:
y_train.shape

(40564,)

In [123]:
clf = RandomForestClassifier(n_estimators=50, max_features='sqrt') #applying algorithm
clf = clf.fit(train, y_train) #building the model with training data

In [124]:
compute_score(clf, train, y_train, scoring='accuracy') #calculating accuracy of our model

0.5453363255845503

In [126]:
y_test = test['admit'] #splitting test data into 'y_test' and 'test' for testing the model and checking afterwards.

In [127]:
test = test.drop('admit',1,inplace=False)

In [128]:
test.shape #checking number of rows and columns

(10141, 5498)

In [129]:
y_observed = clf.predict(test) #predicting values using the above trained model.

In [130]:
#comparing the observed data with the original data and calculating the percentage matched!
count = 0
for l in range(0,len(y_observed)):
    if(y_observed[l] == y_test.iloc[l]):
        count= count+1
print((count/len(y_observed))*100)

55.72428754560694

In [133]:
np.savetxt("output_predticted_after_testing.csv", y_observed, delimiter=",") #saving the calculated data in .csv file.